*{
    margin:0;
    padding:0;
}
.header{
    margin-left: 10px;
    margin-top: 30px;
}
.container{
    width: 1150px;
    margin: auto;
}
.logo{
    width:200px;
    float:left;
}
.nav-menu ul li a{
    text-decoration: none;
    font-size:16px;
    font-family: 'Bodoni Moda', serif;
    color:black;
    font-weight: 500;
}
.nav-menu{
    float: right;
}
.nav-menu ul{
    list-style:none;
}
.nav-menu ul li{
    float: left;
    padding:15px 23px;  
}

.first-section{
    width:53%;
    margin-top:95px;
    padding-top:117px;
    margin-left:40px;
    padding-left:40px; 
    float:left;  
}
.img-1{
    width: 32%;
    margin-top: 11px;
    margin-left: 5px;  
}
h1{
    font-size:60px;
}
.link-button{
    text-decoration: none;
    background-color:rgb(162,186,67);
    border-radius: 10px;
    padding:10px 10px;
    font-weight: bold;
}